@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
a,
button,
input[type=submit] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  outline: unset;
  border: unset;
  padding: 10px;
  transition: 200ms all;
  color: black;
  font-size: 1em;
  text-decoration: none;
  background-color: #a39ddc;
  border-bottom: 2px solid transparent;
}
a:hover,
button:hover,
input[type=submit]:hover {
  background-color: #9d74cf;
  border-bottom: 2px solid #8262ae;
}
a:active,
button:active,
input[type=submit]:active {
  background-color: #8262ae;
}
a:has(i),
button:has(i),
input[type=submit]:has(i) {
  padding: 5px;
}
a i,
button i,
input[type=submit] i {
  font-size: 1.2em;
}

input[type=text],
input[type=number],
input[type=email],
input[type=password],
textarea {
  border-radius: 4px;
  outline: unset;
  border: 1px solid #9d74cf;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1em;
  padding: 5px;
}

body {
  margin: 0 auto;
  height: 100vh;
  overflow: hidden;
}
@media (min-width: 2000px) {
  body {
    width: 1400px;
  }
}
@media (min-width: 1400px) and (max-width: 2000px) {
  body {
    width: 1200px;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  body {
    width: 992px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  body {
    width: 768px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  body {
    width: 576px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  body {
    width: 100vw;
  }
}
@media (max-width: 576px) {
  body {
    width: 100vw;
  }
}

* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
}

.content {
  height: calc(100vh - 140px);
  display: flex;
  flex-direction: column;
}

section {
  padding: 40px 0;
}

.container {
  display: flex;
}
.container.flex {
  display: flex;
}
.container.grid {
  display: grid;
}

header {
  position: relative;
  display: grid;
  align-items: center;
  height: 80px;
  background-color: #140025;
}
header button#menu-button {
  justify-self: flex-end;
  align-self: center;
  margin: auto 20px;
  padding: 10px 15px;
  z-index: 1;
  border-radius: 6px;
}
header button#menu-button i {
  font-size: 1.2em;
}
header button#menu-button[data-menu=opened] {
  background-color: #8262ae;
}
header button#menu-button[data-menu=closed] {
  background-color: #a39ddc;
}
header img.banner {
  position: absolute;
  height: 100%;
  width: 100%;
  object-position: 50% 45%;
  object-fit: none;
  clip-path: url("#curve");
}
header span.banner_toplayer {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #140025;
}
header .header-cutout {
  position: absolute;
}
header .header-cutout #curve {
  width: 100vw;
}

nav {
  position: absolute;
  z-index: 999;
  display: flex;
  flex-direction: column-reverse;
  top: 80px;
  width: -webkit-fill-available;
  background: #140025;
}
nav a {
  justify-content: flex-start;
  align-items: center;
  padding: 5px 15px;
  font-size: 1.4em;
}
nav a i {
  margin-right: 15px;
  font-size: 1.6em;
}
nav[data-state=collapsed] {
  animation: menu-closed 1s;
  animation-fill-mode: forwards;
  height: 0;
}
nav[data-state=collapsed] a {
  animation: items-hidden 1s;
  animation-fill-mode: forwards;
}
nav[data-state=expanded] {
  animation: menu-open 1s;
  height: calc(100vh - 80px);
}
nav[data-state=expanded] a {
  animation: items-visible 1s;
  animation-fill-mode: forwards;
}
@keyframes items-visible {
  0% {
    display: none;
  }
  1% {
    opacity: 1%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes items-hidden {
  0% {
    opacity: 100%;
  }
  99% {
    opacity: 1%;
  }
  100% {
    display: none;
  }
}
@keyframes menu-open {
  from {
    height: 0;
  }
  to {
    height: calc(100vh - 80px);
  }
}
@keyframes menu-closed {
  0% {
    height: calc(100vh - 80px);
  }
  99% {
    height: 0;
  }
  to {
    display: none;
  }
}

div.radar {
  position: relative;
  display: flex;
  justify-content: center;
}
div.radar img {
  position: absolute;
  width: -webkit-fill-available;
}
div.radar img[data-index="0"] {
  position: unset;
}
div.radar div.frame {
  position: absolute;
  width: -webkit-fill-available;
  display: grid;
}
div.radar div.frame.visible {
  display: block;
}
div.radar div.frame.hidden {
  display: none;
}
div.radar div.frame img {
  position: absolute;
  width: -webkit-fill-available;
}
div.radar div.frame span.frame-time {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-left: 20px;
  width: 80px;
  height: 35px;
  padding: 5px 10px;
  background-color: #f6f5f3;
  border-radius: 6px;
  font-size: 1.2em;
  font-weight: 500;
  color: #140025;
}
div.radar div.frame div.logo-container {
  position: absolute;
  display: flex;
  gap: 10px;
  justify-self: flex-end;
  align-items: center;
  padding: 10px;
  margin-top: 20px;
  margin-right: 20px;
  background-color: #f6f5f3;
  border-radius: 6px;
  height: 35px;
}
div.radar div.frame div.logo-container img.brand-icon {
  position: unset;
  height: -webkit-fill-available;
  width: auto;
}
div.radar div.radar-controls {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  height: 40px;
  align-self: flex-end;
  margin-bottom: 20px;
  background-color: rgba(246, 245, 243, 0.8);
  border-radius: 6px;
  transition: 150ms all;
}
div.radar div.radar-controls button {
  padding: 5px 10px;
  height: -webkit-fill-available;
}
div.radar div.radar-controls button:hover {
  color: #f6f5f3;
}
div.radar div.radar-controls button:not(:hover) {
  background-color: #f6f5f3;
}
div.radar div.radar-controls button:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
div.radar div.radar-controls button:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
div.radar div.radar-controls input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #a39ddc;
  width: -webkit-fill-available;
  height: 4px;
  border-radius: 6px;
  margin: 0 15px;
}
div.radar div.radar-controls input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 15px;
  background: #8262ae;
  border-radius: 2px;
  cursor: pointer;
}

/*# sourceMappingURL=app.css.map */
